:root {
    --base: #8dc29d;
    --spacing: 10px;
    --blur: 0px;
}
html {
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    text-align: center;
}
.highlight {
    color: var(--base);
}
.image-box {
    max-width: 800px;
    margin: 1rem auto;
    padding: var(--spacing);
    background: var(--base);
}
.image-box img {
    max-width: 100%;
    filter: blur(var(--blur));
}
@media (min-width: 576px) {
    .hidden-sm {
        display: none;
    }
}
#btn {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}

/*
    FOOTER
------------*/
footer {
    color: rgb(24, 24, 24);
    font-size: 0.9rem;
    text-align: center;
    width: 300px;
    border-radius: 20px;
    padding: 5px;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}
footer a {
    text-decoration: none;
    color: gray;
    transition: all 0.4s;
}
footer a:hover {
    color: var(--base);
}
@media (max-height: 500px) {
    footer {
        display: none;
    }
}